* {
	box-sizing: border-box;
}

body {
	text-align: center;
}

main {
	margin-top: 28px;
	text-align: center;
}

nav	{
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: grey;
    padding: 5px 0;
}

h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
}

h4 {
	width: 45%;
	display: inline;
}

a {
	text-decoration: none;
}

form {
	background-color: lightgrey;
	height: 50px;
	padding: 15px;
}

footer {
	height: 50px;
	padding: 1% 0;
	margin: 0 auto;
	width: 98%;
	background-color: grey;
}

ul {
	list-style: none;
	margin: 0 auto;
}

ul.game-list > li {
	padding: .5rem;
}

section.watchlist, section.recent {
	width: 98%;
	margin: 0 auto;
}

section.watchlist {
	background-color: grey;
}

section.recent {
	background-color: lightgrey;
}

input.search {
	width: 45%;
	text-align: left;
	padding-left: 3px;
	margin: 0 auto;
}

.tile-window {
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
	background-color: grey;
	text-align: center;
}

.tile {
	width: 50%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 10px;
}

.banner {
	margin-top: 10px;
	height: 20px;
	background-color: lightgrey;
}

.user {
	display: inline-block;
}

.name {
	position: absolute;
	left: 2%;
}

.account {
	position: absolute;
	right: 2%;
}

.wrapper {
	margin: 0 auto;
	text-align: center;
	padding: 1.5rem;
}